<a href="https://colab.research.google.com/github/JaviSantosM/Economia3/blob/main/Clase05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import yfinance as yf
df_sp=yf.download('AAPL',start="2024-01-01", end='2026-01-01')
df_sp

/tmp/ipython-input-898375628.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_sp=yf.download('AAPL',start="2024-01-01", end='2026-01-01')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  183.903229  186.677036  182.169601  185.399096  82488700
2024-01-03  182.526245  184.141000  181.713909  182.496527  58414500
2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600
2024-01-05  179.484955  181.050175  178.484409  180.287390  62379700
2024-01-08  183.823990  183.863624  179.801976  180.386452  59144500
...                ...         ...         ...         ...       ...
2025-12-24  273.809998  275.429993  272.200012  272.339996  17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004  21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002  23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998  22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998  27293600

[502 rows x 5 columns]

In [50]:
df_sp=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/aapl.csv")
df_sp.rename(columns={'Price': 'Date'}, inplace=True)#esto se hizo despues, cambiar todos los price por date
df_sp
df_sp.head()

,Unnamed: 0,Date,Close,High,Low,Open,Volume,Tendencia,Rango,Year,Month,Day
0,482,2025-12-03,284.149994,288.619995,283.299988,286.200012,43538700.0,Baja,5.320007,2025,12,3
1,481,2025-12-02,286.190002,287.399994,282.630005,283.000000,53669500.0,Sube,4.769989,2025,12,2
2,483,2025-12-04,280.700012,284.730011,278.589996,284.100006,43989100.0,Baja,6.140015,2025,12,4
3,480,2025-12-01,283.100006,283.420013,276.140015,278.010010,46587700.0,Sube,7.279999,2025,12,1
4,484,2025-12-05,278.779999,281.140015,278.049988,280.540009,47265800.0,Baja,3.090027,2025,12,5

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
df_sp.colums=["Date","Close","High","Low","Open","Volume"]
df_sp.head()

/tmp/ipython-input-2441327669.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_sp.colums=["Date","Close","High","Low","Open","Volume"]

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2024-01-02,183.90322875976562,186.67703614744315,182.16960103197144,185.39909638597572,82488700
3,2024-01-03,182.5262451171875,184.14100045386294,181.7139093893273,182.49652699212288,58414500
4,2024-01-04,180.20814514160156,181.37709839926953,179.18778251294714,180.44589014802324,71983600

In [9]:
df_sp=df_sp.iloc[2:,:].reset_index(drop=True)

In [10]:
df_sp.head()

,Price,Close,High,Low,Open,Volume
0,2024-01-02,183.90322875976562,186.67703614744315,182.16960103197144,185.39909638597572,82488700
1,2024-01-03,182.5262451171875,184.14100045386294,181.7139093893273,182.49652699212288,58414500
2,2024-01-04,180.20814514160156,181.37709839926953,179.18778251294714,180.44589014802324,71983600
3,2024-01-05,179.48495483398438,181.05017488447822,178.48440937769652,180.28738953880892,62379700
4,2024-01-08,183.82398986816406,183.86362411289957,179.80197564152536,180.38645226507356,59144500

In [11]:
df_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   502 non-null    object
 1   Close   502 non-null    object
 2   High    502 non-null    object
 3   Low     502 non-null    object
 4   Open    502 non-null    object
 5   Volume  502 non-null    object
dtypes: object(6)
memory usage: 23.7+ KB

In [12]:
df_sp["Price"]=pd.to_datetime(df_sp["Price"])
#df_sp["Price"]=df_sp.Price.astype("float")
df_sp["Close"]=df_sp.Close.astype("float")
df_sp["High"]=df_sp.High.astype("float")
df_sp["Low"]=df_sp.Low.astype("float")
df_sp["Open"]=df_sp.Open.astype("float")
df_sp["Volume"]=df_sp.Volume.astype("float")
df_sp.tail(10)

         Price       Close        High         Low        Open       Volume
492 2025-12-17  271.839996  276.160004  271.640015  275.010010   50138700.0
493 2025-12-18  272.190002  273.630005  266.950012  273.609985   51630700.0
494 2025-12-19  273.670013  274.600006  269.899994  272.149994  144632000.0
495 2025-12-22  270.970001  273.880005  270.510010  272.859985   36571800.0
496 2025-12-23  272.359985  272.500000  269.559998  270.839996   29642000.0
497 2025-12-24  273.809998  275.429993  272.200012  272.339996   17910600.0
498 2025-12-26  273.399994  275.369995  272.859985  274.160004   21521800.0
499 2025-12-29  273.760010  274.359985  272.350006  272.690002   23715200.0
500 2025-12-30  273.079987  274.079987  272.279999  272.809998   22139600.0
501 2025-12-31  271.859985  273.679993  271.750000  273.059998   27293600.0

In [14]:
df_sp[(df_sp.Open<250)]

         Price       Close        High         Low        Open      Volume
0   2024-01-02  183.903229  186.677036  182.169601  185.399096  82488700.0
1   2024-01-03  182.526245  184.141000  181.713909  182.496527  58414500.0
2   2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600.0
3   2024-01-05  179.484955  181.050175  178.484409  180.287390  62379700.0
4   2024-01-08  183.823990  183.863624  179.801976  180.386452  59144500.0
..         ...         ...         ...         ...         ...         ...
446 2025-10-13  247.420151  249.448184  245.322178  249.138486  38142900.0
447 2025-10-14  247.530045  248.609000  244.463010  246.361180  35478000.0
448 2025-10-15  249.098526  251.576135  247.230342  249.248390  33893600.0
449 2025-10-16  247.210358  248.798814  244.892612  248.009586  39777000.0
450 2025-10-17  252.045654  253.134610  247.030527  247.779801  49147000.0

[430 rows x 6 columns]

In [15]:
df_sp.loc[df_sp.Open<6800,"status"]="Atipico"
df_sp

,Price,Close,High,Low,Open,Volume,status
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,Atipico
1,2024-01-03,182.526245,184.141000,181.713909,182.496527,58414500.0,Atipico
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,Atipico
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,Atipico
4,2024-01-08,183.823990,183.863624,179.801976,180.386452,59144500.0,Atipico
...,...,...,...,...,...,...,...
497,2025-12-24,273.809998,275.429993,272.200012,272.339996,17910600.0,Atipico
498,2025-12-26,273.399994,275.369995,272.859985,274.160004,21521800.0,Atipico
499,2025-12-29,273.760010,274.359985,272.350006,272.690002,23715200.0,Atipico
500,2025-12-30,273.079987,274.079987,272.279999,272.809998,22139600.0,Atipico
501,2025-12-31,271.859985,273.679993,271.750000,273.059998,27293600.0,Atipico

In [17]:
df_sp["Tendencia"]="Estable"
df_sp.head()

,Price,Close,High,Low,Open,Volume,status,Tendencia
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,Atipico,Estable
1,2024-01-03,182.526245,184.141000,181.713909,182.496527,58414500.0,Atipico,Estable
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,Atipico,Estable
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,Atipico,Estable
4,2024-01-08,183.823990,183.863624,179.801976,180.386452,59144500.0,Atipico,Estable

In [18]:
df_sp.head()

,Price,Close,High,Low,Open,Volume,status,Tendencia
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,Atipico,Estable
1,2024-01-03,182.526245,184.141000,181.713909,182.496527,58414500.0,Atipico,Estable
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,Atipico,Estable
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,Atipico,Estable
4,2024-01-08,183.823990,183.863624,179.801976,180.386452,59144500.0,Atipico,Estable

In [19]:
df_sp.loc[df_sp.Close>df_sp.Close.shift(1),"Tendencia"]="Sube"
df_sp.head(10)

,Price,Close,High,Low,Open,Volume,status,Tendencia
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,Atipico,Estable
1,2024-01-03,182.526245,184.141000,181.713909,182.496527,58414500.0,Atipico,Estable
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,Atipico,Estable
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,Atipico,Estable
4,2024-01-08,183.823990,183.863624,179.801976,180.386452,59144500.0,Atipico,Sube
5,2024-01-09,183.407913,183.417814,181.020456,182.199326,42841800.0,Atipico,Estable
6,2024-01-10,184.448074,184.656101,182.199307,182.625292,46792900.0,Atipico,Sube
7,2024-01-11,183.853699,185.300046,181.902128,184.794808,49128400.0,Atipico,Estable
8,2024-01-12,184.180603,184.992939,183.457437,184.319293,40477800.0,Atipico,Sube
9,2024-01-16,181.912048,182.536144,179.237296,180.455800,65603000.0,Atipico,Estable

In [20]:
df_sp.loc[df_sp.Close<df_sp.Close.shift(1),"Tendencia"]="Baja"
df_sp.head(10)

,Price,Close,High,Low,Open,Volume,status,Tendencia
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,Atipico,Estable
1,2024-01-03,182.526245,184.141000,181.713909,182.496527,58414500.0,Atipico,Baja
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,Atipico,Baja
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,Atipico,Baja
4,2024-01-08,183.823990,183.863624,179.801976,180.386452,59144500.0,Atipico,Sube
5,2024-01-09,183.407913,183.417814,181.020456,182.199326,42841800.0,Atipico,Baja
6,2024-01-10,184.448074,184.656101,182.199307,182.625292,46792900.0,Atipico,Sube
7,2024-01-11,183.853699,185.300046,181.902128,184.794808,49128400.0,Atipico,Baja
8,2024-01-12,184.180603,184.992939,183.457437,184.319293,40477800.0,Atipico,Sube
9,2024-01-16,181.912048,182.536144,179.237296,180.455800,65603000.0,Atipico,Baja

In [21]:
df_sp=df_sp.sort_values(by="Price")
df_sp.head(10)

,Price,Close,High,Low,Open,Volume,status,Tendencia
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,Atipico,Estable
1,2024-01-03,182.526245,184.141000,181.713909,182.496527,58414500.0,Atipico,Baja
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,Atipico,Baja
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,Atipico,Baja
4,2024-01-08,183.823990,183.863624,179.801976,180.386452,59144500.0,Atipico,Sube
5,2024-01-09,183.407913,183.417814,181.020456,182.199326,42841800.0,Atipico,Baja
6,2024-01-10,184.448074,184.656101,182.199307,182.625292,46792900.0,Atipico,Sube
7,2024-01-11,183.853699,185.300046,181.902128,184.794808,49128400.0,Atipico,Baja
8,2024-01-12,184.180603,184.992939,183.457437,184.319293,40477800.0,Atipico,Sube
9,2024-01-16,181.912048,182.536144,179.237296,180.455800,65603000.0,Atipico,Baja

In [22]:
df_sp=df_sp.sort_values(by="High",ascending=False)
df_sp.head(10)

,Price,Close,High,Low,Open,Volume,status,Tendencia
482,2025-12-03,284.149994,288.619995,283.299988,286.200012,43538700.0,Atipico,Baja
481,2025-12-02,286.190002,287.399994,282.630005,283.000000,53669500.0,Atipico,Sube
483,2025-12-04,280.700012,284.730011,278.589996,284.100006,43989100.0,Atipico,Baja
480,2025-12-01,283.100006,283.420013,276.140015,278.010010,46587700.0,Atipico,Sube
484,2025-12-05,278.779999,281.140015,278.049988,280.540009,47265800.0,Atipico,Baja
477,2025-11-25,276.970001,280.380005,275.250000,275.269989,46914200.0,Atipico,Sube
490,2025-12-15,274.109985,280.149994,272.839996,280.149994,50409100.0,Atipico,Baja
486,2025-12-09,277.179993,280.029999,276.920013,278.160004,32193300.0,Atipico,Baja
487,2025-12-10,278.779999,279.750000,276.440002,277.750000,33038300.0,Atipico,Sube
485,2025-12-08,277.890015,279.670013,276.149994,278.130005,38211800.0,Atipico,Baja

In [23]:
df_sp.sort_values(by=["Tendencia","High"],ascending=[True,False])

,Price,Close,High,Low,Open,Volume,status,Tendencia
482,2025-12-03,284.149994,288.619995,283.299988,286.200012,43538700.0,Atipico,Baja
483,2025-12-04,280.700012,284.730011,278.589996,284.100006,43989100.0,Atipico,Baja
484,2025-12-05,278.779999,281.140015,278.049988,280.540009,47265800.0,Atipico,Baja
490,2025-12-15,274.109985,280.149994,272.839996,280.149994,50409100.0,Atipico,Baja
486,2025-12-09,277.179993,280.029999,276.920013,278.160004,32193300.0,Atipico,Baja
...,...,...,...,...,...,...,...,...
65,2024-04-05,168.207870,169.011314,167.582963,168.217784,42104800.0,Atipico,Sube
67,2024-04-09,168.297104,168.703790,166.987793,167.334951,42373800.0,Atipico,Sube
78,2024-04-24,167.652390,167.930123,164.865129,165.192445,48251800.0,Atipico,Sube
76,2024-04-22,164.498093,165.906601,163.436758,164.180690,48116400.0,Atipico,Sube
77,2024-04-23,165.549515,165.698310,163.585540,164.012069,49537800.0,Atipico,Sube

In [24]:
df_sp["Rango"]=df_sp["High"]-df_sp["Low"]
df_sp.head(10)

,Price,Close,High,Low,Open,Volume,status,Tendencia,Rango
482,2025-12-03,284.149994,288.619995,283.299988,286.200012,43538700.0,Atipico,Baja,5.320007
481,2025-12-02,286.190002,287.399994,282.630005,283.000000,53669500.0,Atipico,Sube,4.769989
483,2025-12-04,280.700012,284.730011,278.589996,284.100006,43989100.0,Atipico,Baja,6.140015
480,2025-12-01,283.100006,283.420013,276.140015,278.010010,46587700.0,Atipico,Sube,7.279999
484,2025-12-05,278.779999,281.140015,278.049988,280.540009,47265800.0,Atipico,Baja,3.090027
477,2025-11-25,276.970001,280.380005,275.250000,275.269989,46914200.0,Atipico,Sube,5.130005
490,2025-12-15,274.109985,280.149994,272.839996,280.149994,50409100.0,Atipico,Baja,7.309998
486,2025-12-09,277.179993,280.029999,276.920013,278.160004,32193300.0,Atipico,Baja,3.109985
487,2025-12-10,278.779999,279.750000,276.440002,277.750000,33038300.0,Atipico,Sube,3.309998
485,2025-12-08,277.890015,279.670013,276.149994,278.130005,38211800.0,Atipico,Baja,3.520020

In [25]:
df_sp.Tendencia.unique()

array(['Baja', 'Sube', 'Estable'], dtype=object)

In [26]:
df_sp.Tendencia.nunique()

3

In [27]:
import datetime as dt

In [28]:
df_sp["Year"]=df_sp.Price.dt.year
df_sp["Month"]=df_sp.Price.dt.month
df_sp["Day"]=df_sp.Price.dt.day

In [29]:
df_sp.head(10)

,Price,Close,High,Low,Open,Volume,status,Tendencia,Rango,Year,Month,Day
482,2025-12-03,284.149994,288.619995,283.299988,286.200012,43538700.0,Atipico,Baja,5.320007,2025,12,3
481,2025-12-02,286.190002,287.399994,282.630005,283.000000,53669500.0,Atipico,Sube,4.769989,2025,12,2
483,2025-12-04,280.700012,284.730011,278.589996,284.100006,43989100.0,Atipico,Baja,6.140015,2025,12,4
480,2025-12-01,283.100006,283.420013,276.140015,278.010010,46587700.0,Atipico,Sube,7.279999,2025,12,1
484,2025-12-05,278.779999,281.140015,278.049988,280.540009,47265800.0,Atipico,Baja,3.090027,2025,12,5
477,2025-11-25,276.970001,280.380005,275.250000,275.269989,46914200.0,Atipico,Sube,5.130005,2025,11,25
490,2025-12-15,274.109985,280.149994,272.839996,280.149994,50409100.0,Atipico,Baja,7.309998,2025,12,15
486,2025-12-09,277.179993,280.029999,276.920013,278.160004,32193300.0,Atipico,Baja,3.109985,2025,12,9
487,2025-12-10,278.779999,279.750000,276.440002,277.750000,33038300.0,Atipico,Sube,3.309998,2025,12,10
485,2025-12-08,277.890015,279.670013,276.149994,278.130005,38211800.0,Atipico,Baja,3.520020,2025,12,8

In [30]:
df_sp=df_sp.drop(columns=["status"])

In [31]:
col=["Year","Month","Day"]
df_sp[col].head()

     Year  Month  Day
482  2025     12    3
481  2025     12    2
483  2025     12    4
480  2025     12    1
484  2025     12    5

In [32]:
import yfinance as yf
df_gold=yf.download("GC=F",start="2024-01-01",end="2026-01-01")
df_gold.head()

/tmp/ipython-input-4210527928.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_gold=yf.download("GC=F",start="2024-01-01",end="2026-01-01")
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open Volume
Ticker             GC=F         GC=F         GC=F         GC=F   GC=F
Date
2024-01-02  2064.399902  2073.699951  2057.100098  2063.500000     61
2024-01-03  2034.199951  2044.000000  2034.199951  2034.199951     54
2024-01-04  2042.300049  2044.500000  2038.000000  2041.599976     88
2024-01-05  2042.400024  2048.100098  2042.400024  2044.500000     12
2024-01-08  2026.599976  2033.699951  2019.099976  2019.099976     10

In [38]:

df_gold.colums=["Date","Close","High","Low","Open","Volume"]
df_gold.head()

Price             Close         High          Low         Open Volume
Ticker             GC=F         GC=F         GC=F         GC=F   GC=F
Date
2024-01-02  2064.399902  2073.699951  2057.100098  2063.500000     61
2024-01-03  2034.199951  2044.000000  2034.199951  2034.199951     54
2024-01-04  2042.300049  2044.500000  2038.000000  2041.599976     88
2024-01-05  2042.400024  2048.100098  2042.400024  2044.500000     12
2024-01-08  2026.599976  2033.699951  2019.099976  2019.099976     10

In [39]:
df_gold=df_gold.iloc[2:,:].reset_index(drop=True)

In [42]:
df_sp.merge(df_gold,how="inner",left_on=["Date"],right_on=["Date"],suffixes=("_sp500","_gold"))

MergeError: Not allowed to merge between different levels. (1 levels on the left, 2 on the right)

In [43]:
df_sp.to_csv("/content/drive/MyDrive/Colab Notebooks/aapl.csv")

In [45]:
df_gold.to_csv("/content/drive/MyDrive/Colab Notebooks/gold.csv")